.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* header ar kaj */
.header{
    background-image: url(images/developer.png), url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* nav bar ar kaj */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 130px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.rcoller{
    color: #FD6E0A;
}
nav ul li {
    list-style: none;
    margin-right: 50px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}
.dark2{
    color: #474747;
}
nav ul{
    display: flex;
    align-items: center;
}
.btn{
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    /* width: 250px;
    height: 64px; */
    background-color: #FD6E0A;
    color: #ffffff
}
.btn2{
    background-color: transparent;
    color: #FD6E0A
}
/* banner ar kaj  */
.benner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 130px;
}
.benner-content{
    max-width: 580px;
}
.bannerH4{
    
    font-weight: 600;
    font-size: 43px;
    margin-bottom: 5px;
}
.bannerMainh1{
    font-weight: bold;
    font-size: 80px;
    margin-bottom: 20px;
    margin-top: 0px;
}
.banner-pragarp{
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}
.banner-profile-pic{
    width: 584px;
    height: 676px;
}
/* Section ar kaj */

.all-section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.all-section-describtion{
    font-size: 18px;
    font-weight: 400;
    color: #757575;
}
/* .all-secendary-bg{
    color: #FFF8F3;
} */
.about{
    /* border-radius: 10px; */
    padding: 0px 0px 80px 0px;
    text-align: center;
    margin-top: 180px;
    border: 1px solid black;
    margin: 113px 113px;

}
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about-title{
    font-size: 20px;
    font-weight: 400;
    color: #757575;
}
.about-disc{
    font-size: 20px;
    font-weight: bold;
    color: #757575;
}
.about-main-item{
    display: flex;
    justify-content: space-around;
}
/* skril ar jonno */
.text-center{
    text-align: center;
}
.skeil-title{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
}
.skril-Pdiciption{
    font-size: 16px;
    font-weight: 400;
    color: #757575;
}
.main-skril{
    display: flex;
    margin-top: 50px;

    /* gap: 24px; */
    /* padding: 30px 35px 40px 45px; */
}
.skril-title-main2{
    padding: 30px 33px ;
    

}
.skril{
    margin-top: 100px;
    margin: 50px 50px;
    margin-bottom: 100px;
}
/* sumary ar kaj */
.sumary-top-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
}
.sumary-top2title{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
}
.sumary-subtitle{
    font-size: 20px;
    font-weight: 500;
    color: #474747;
}
.sumary-pragrap{
    font-size: 16px;
    font-weight: 400;
    color: #757575;
    /* width: 511px;
    height: 175px; */
}
.sumary-main22{
    margin-top: 50px;
    margin-bottom: 50px;

}
.main-summary{
    display: flex;
    gap: 24px;
}
.dcvbtn{
    text-align: center;
    margin-bottom: 100px;
}
footer{
    padding: 130Px 230px;
    display: flex;
    gap: 100px;
}
.footer-colam{
    width: 50%;
}
.namef, footer input[type="text"], footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    border-color: wheat;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}
